:root {
  --color-primario: #050C9C;
  --color-secundario: #3572EF;
  --color-terciario: #3ABEF9;
  --color-cuarto: #A7E6FF;
  --color-quinto: #FFFFFF;
}

body {
    width: auto;
    box-sizing: border-box;
    background-color: var(--color-cuarto);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.presentacion {
    padding: 20% 10%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.presentacion-logo {
    width: 45px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.cuadrotexto1, .cuadrotexto2 {
    width: 100%;
    height: 100px; 
    color: var(--color-primario);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.BotonEncriptar, .BotonDesencriptar, .BotonCopiar {
    width: 100%;
    max-width: 200px;
    height: 48px;
    background-color: var(--color-primario);
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--color-quinto);
    border: none;
    cursor: pointer;
    border: 2px solid var(--color-quinto); 
    outline: 2px solid var(--color-primario);   
    transition: background-color 0.3s;
}

.BotonEncriptar:hover, .BotonDesencriptar:hover, .BotonCopiar:hover {
    background-color: var(--color-terciario);
}

.BotonDesencriptar {
    background-color: var(--color-secundario);
}

.presentacion-imagen {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin-top: 20px;
}

.BotonCopiar {
    margin-top: 10px;
    display: none; 
}

.footer {
    background-color: var(--color-terciario);
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .presentacion {
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;
    }

    .cuadrotexto1, .cuadrotexto2 {
        width: 50%;
        font-size: 2rem;
        height: 150px; 
    }

    .BotonCopiar {
        width: 50%;
        margin-top: 10px;
    }

    .presentacion-imagen {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);
    }
}